@use "../../themes.scss" as *;
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

button {
  margin: 5% 0;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

nb-card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.text {
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 1440px) {
  .input-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  input {
    width: 10rem;
  }
  .input-wrapper {
    width: 100%;
  }
}
