<div class="wrapper">
  <h2>Random Number Picker</h2>
  <main>
    <div class="input-wrapper">
      <div class="input">
        <label for="startingNumber">Starting Number</label>
        <input
          #startingNumber
          type="number"
          [min]="min"
          [max]="endNumber - 1"
          [value]="startNumber"
          nbInput
          fieldSize="giant"
          status="primary"
          placeholder="Write a Starting Number"
          (keyup)="onStartChange(startingNumber.value)"
        />
      </div>
      <div class="input">
        <label for="endingNumber">Ending Number</label>
        <input
          #endingNumber
          type="number"
          [min]="startNumber + 1"
          [max]="max"
          [value]="endNumber"
          nbInput
          fieldSize="giant"
          status="primary"
          placeholder="Write a Ending Number"
          (keyup)="onEndChange(endingNumber.value)"
        />
      </div>
    </div>
    <button nbButton size="giant" status="primary" (click)="getRandomNumber()">
      Get Random Number
    </button>

    <nb-card *ngIf="result !== undefined">
      <nb-card-header><h3>Your Random Number</h3></nb-card-header>
      <nb-card-body>
        <div class="card-section">
          <h4>{{ result }}</h4>
        </div>
      </nb-card-body>
    </nb-card>
  </main>
</div>
