<nb-layout center>
  <nb-layout-header fixed
    ><div class="navbar">
      <button
        style="background-color: transparent; border-color: transparent"
        routerLink=""
      >
        <h1 style="cursor: pointer">RNG</h1>
      </button>
    </div></nb-layout-header
  >

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
