@use "../themes.scss" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  h1 {
    line-height: 100%;
    margin: 0;
    vertical-align: middle;
  }
}
