@use "themes" as *;

@use "@nebular/theme/styles/globals" as *;

@use "themes" as *;

@use "@nebular/theme/styles/globals" as *;

@include nb-install() {
  @include nb-theme-global();
}

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */

app-home {
  display: flex;
  height: 100%;
  width: 100%;
}
