.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc((100% - 40px) / 2);
  height: 60%;
  margin: 2rem 10px;
  cursor: pointer;
}

.card-body {
  min-height: 60%;
  background-size: cover;
}

.date {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("https://unsplash.com/photos/JSWukh-Q-Cs/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjg4NzI1NDczfA&force=true&w=1920");
}

.number {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("https://unsplash.com/photos/faixctm2YRQ/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Mnx8bnVtYmVyc3xlbnwwfHx8fDE2ODg3MjM0Nzh8MA&force=true&w=1920");
}

.card-title {
  position: absolute;
  margin-left: 0.83em;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    height: calc((100% - 8rem) / 2);
  }
}
