<div class="wrapper">
  <nb-card class="card" routerLink="date-picker">
    <nb-card-body class="card-body date"
      ><h2 class="card-title">Random Date Picker</h2></nb-card-body
    >
  </nb-card>
  <nb-card class="card" routerLink="number-picker">
    <nb-card-body class="card-body number"
      ><h2 class="card-title">Random Number Picker</h2></nb-card-body
    >
  </nb-card>
</div>
