.wrapper {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

button {
  margin: 5% 0;
  cursor: pointer;
}

nb-card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.text {
  border-bottom: 1px solid #ccc;
}
