<div class="wrapper">
  <h2>Random Date Picker</h2>
  <main>
    <input
      nbInput
      fieldSize="giant"
      status="primary"
      placeholder="Pick a date"
      [nbDatepicker]="formpicker"
    />
    <nb-rangepicker
      #formpicker
      [range]="DateRange"
      (rangeChange)="onRangeChange($event)"
      [min]="minDate"
      [max]="maxDate"
    >
    </nb-rangepicker>
    <button nbButton size="giant" status="primary" (click)="getRandomDate()">
      Get Random Date
    </button>

    <nb-card *ngIf="resultDate !== undefined">
      <nb-card-header><h3>Your Random Date</h3></nb-card-header>
      <nb-card-body>
        <div class="card-section">
          <h4 class="text">Day</h4>
          <h4>{{ resultDate.getDate() }}</h4>
        </div>
        <div class="card-section">
          <h4 class="text">Month</h4>
          <h4>{{ resultDate.getMonth() }}</h4>
        </div>
        <div class="card-section">
          <h4 class="text">Year</h4>
          <h4>{{ resultDate.getFullYear() }}</h4>
        </div>
      </nb-card-body>
    </nb-card>
  </main>
</div>
